
.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 30rem;
  }
.results-container
{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.search-bar
{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
}
